.imgSelect {
  /* width: 40%; */
  width:700px;
  height: 300px;
  background: rgba(94, 143, 202, 0.3);
  box-sizing:border-box;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: #333;
  font-weight: bold;
  text-align: center;
  line-height: 17;
  /* visibility: hidden; */
}

.imgHi {
  width:100%;
  height: 400px;
  object-fit: scale-down;
}

.label {
  margin-top: 5px;
  display: inline-block;
  padding: .5em .75em;
  color: #fff;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #5E8FCA;
  cursor: pointer;
  /* border: 1px solid #ebebeb; */
  /* border-bottom-color: #e2e2e2; */
  border-radius: .50em;
}

.label:hover {
  background: #2d6ebd;
}

.input {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

.imgWidth {
  width:40%;
  height: 450px;
  overflow:hidden;
  display:flex;
  flex-direction:column;
  align-items:center;
}

@media (max-width:800px) {
  .imgSelect {
      width:49%;
      height: 200px;
  }

  .imgSelect:last-child {
      margin-top: 30px;
  }

  .imgHi {
      width:100%;
      height: 200px;
      object-fit: scale-down;
  }
}

/* CSS default */

.editor h2 {
  display: block; font-size: 1.5em; margin-top: 0.83em; margin-bottom: 0.83em; margin-left: 0; margin-right: 0; font-weight: bold;
}

.editor h3 {
  display: block; font-size: 1.17em; margin-top: 1em; margin-bottom: 1em; margin-left: 0; margin-right: 0; font-weight: bold;
}

.editor h4 {
  display: block; font-size: 1em; margin-top: 1.33em; margin-bottom: 1.33em; margin-left: 0; margin-right: 0; font-weight: bold;
}

.editor strong {
  font-weight: bold;
}

.editor i {
  font-style: italic;
}

.editor p {
  display: block; margin-top: 1em; margin-bottom: 1em; margin-left: 0; margin-right: 0;
}

.editor a:link, a:visited {
  color: (internal value); text-decoration: underline; cursor: auto;
}

.editor a:link:active, a:visited:active {
  color: (internal value); 
}

.editor ul {
  display: block; list-style-type: disc; margin-top: 1em; margin-bottom: 1 em; margin-left: 0; margin-right: 0; padding-left: 40px;
}

.editor ol {
  display: block; list-style-type: decimal; margin-top: 1em; margin-bottom: 1em; margin-left: 0; margin-right: 0; padding-left: 40px;
}

.editor li {
  display: list-item;
}

.editor blockquote {
  display: block; margin-top: 1em; margin-bottom: 1em; margin-left: 40px; margin-right: 40px;
}

.editor figure {
  display: block; margin-top: 1em; margin-bottom: 1em; margin-left: 40px; margin-right: 40px;
}

.editor table {
  display: table; border-collapse: separate; border-spacing: 2px; border-color: gray;
}

.editor tbody {
  display: table-row-group; vertical-align: middle; border-color: inherit;
}

.editor td {
  display: table-cell; vertical-align: inherit;
}

.editor tfoot {
  display: table-footer-group; vertical-align: middle; border-color: inherit;
}

.editor th {
  display: table-cell; vertical-align: inherit; font-weight: bold; text-align: center;
}

.editor thead {
  display: table-header-group; vertical-align: middle; border-color: inherit;
}

.editor tr {
display: table-row; vertical-align: inherit; border-color: inherit;
}