#accompany-main-detail-img > img {
  width : 100%;
  height: 80px;
  object-fit: cover;
}

#accompany-detail-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

#accompany-detail-img {
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 80%;
  height: 350px;
  overflow: hidden;
  margin-bottom: 30px;
}

#accompany-detail-img > img {
  width: 100%;
  object-fit: cover;
}

#accompany-detail-duration-box {
  /* width:800px; */
  width:80%;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  align-items: center;
}

/* #accompany-detail-duration{
  width: 70%;
  text-align: start;
  color: rgb(77, 198, 255);
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 15px;
} */
#accompany-detail-duration{
  /* width: 100%; */
  /* margin-right:50px; */
  text-align: start;
  color: rgb(77, 198, 255);
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 15px;
}

#accompany-detail-number {
  /* width:30%; */
  /* margin-left:50px; */
  color :rgb(100, 100, 100);
  font-size: 0.7rem;
  margin-bottom: 15px;
}

#accompany-detail-title {
  font-weight: bold;
  font-size: 0.9rem;
  width: 70%;
  height: 100%;
  line-height: 25px;
}

#accompany-detail-date-cnt{
  width: 80%;
  text-align: end;
  border-bottom-style: solid;
  border-bottom-color: rgb(150, 150, 150);
  border-bottom-width: 1px;
  height: 25px;
  margin-top: 20px;
  margin-bottom: 30px;
}

#accompany-detail-date-cnt > span{
  color :rgb(100, 100, 100);
  margin: 0 10px 0 10px;
  font-size: 0.7rem;
}

#accompany-detail-content{
  width: 80%;
  margin-bottom: 50px;
  /* line-height: 25px; */
  font-size: 0.6rem;
}

#accomapny-detail-btn{
  display: flex;
  width: 80%;
  height: 100px;
  border-top-style: solid;
  border-top-color: rgb(150, 150, 150);
  border-top-width: 1px;
  justify-content: center;
  align-items: center;
}

#accomapny-detail-btn > button {
  width: 150px;
  margin: 0 10px 0 10px;
  font-size: 0.4rem;
}

#accomapny-detail-btn > button > span {
  display: none;
}


@media ( min-width : 800px){
  #accompany-main-detail-img > img {
    height: 150px;
  }

  #accompany-detail-img {
    width: 780px;
  }
  
  #accompany-detail-duration-box {
    width: 780px;
    align-items: center;
  }

  #accompany-detail-duration{
    /* width: 780px; */
    /* width:100%; */
    font-size: 1rem;
  }
  
  #accompany-detail-number {
    font-size: 1rem;
  }

  #accompany-detail-title {
    font-size: 1.2rem;
    width: 600px;
    height: 50px;
    line-height: 25px;
  }

  #accompany-detail-date-cnt{
    width: 780px;
  }

  #accompany-detail-date-cnt > span{
    font-size: 1rem;
  }

  #accompany-detail-content{
    width: 700px;
    /* line-height: 40px; */
    font-size: 0.8rem;
  }

  #accomapny-detail-btn{
    width: 780px;
  }

  #accomapny-detail-btn > button {
    font-size: 1rem;
  }

  #accomapny-detail-btn > button > span {
    display:block;
  }
  #accomapny-detail-btn > button > svg {
    display:none;
  }

}

@media ( min-width : 1200px){
  #accompany-main-detail-img > img {
    height: 200px;
  }
}