@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* 1. 채팅아이콘 */
.chatPort {
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 5px 5px rgb(218, 216, 216);
  cursor: pointer;
  position: fixed;
  right: 5%;
  bottom: 20%;
  z-index: 3;
}



.chatPort:hover{
  background-color: rgb(122, 112, 253);
}


/* 2. 채팅부모창 */
.chatParent {
  background-color: rgb(251, 251, 251);
  max-width: 500px;
  min-width: 400px;
  width: 30%;
  position: fixed;
  right: 5%;
  bottom: 20%;
  z-index: 3;
  border-radius: 20px 20px 20px 20px;
  height: 70%;
  min-height: 300px;
  max-height: 640px;
  box-shadow: 1px 2px 10px 7px rgb(218, 216, 216);
  font-family: 'Roboto', sans-serif;
  overflow: auto;

  animation-name: modal-animation;
  animation-duration: 0.3s;
  transform-origin: bottom right;
}

.chatParent-closing {
  background-color: rgb(251, 251, 251);
  max-width: 500px;
  min-width: 400px;
  width: 30%;
  position: fixed;
  right: 5%;
  bottom: 20%;
  z-index: 3;
  border-radius: 20px 20px 20px 20px;
  height: 70%;
  min-height: 300px;
  max-height: 640px;
  box-shadow: 1px 2px 10px 7px rgb(218, 216, 216);
  font-family: 'Roboto', sans-serif;
  overflow: auto;

  animation-fill-mode: forwards;
  animation-name: modal-animation-out;
  animation-duration: 0.2s;
  transform-origin: bottom right;
}

@keyframes modal-animation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes modal-animation-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

#chatCloseBtn{

}

#chatParentTitle {
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left:15px;
  padding-right:15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  background-color:rgb(150, 143, 255);
  color: white;

}

#ArrowBackIcon {
  cursor: pointer;
}

#ArrowBackIcon:hover {
  background-color: rgb(122, 112, 253);
  border-radius: 10px;
}

#ArrowBackIconTemp{
  width : 24px;
}

#CloseIcon {
  cursor: pointer;
}

#CloseIcon:hover {
  cursor: pointer;
  background-color: rgb(122, 112, 253);
  border-radius: 10px;
}

#chat-wrap{
  /* border-top: 1px solid gray; */
}

/* 채팅방리스트 */
#chatroomList{
  height: 100%;
}

/* 채팅대화창 */
.dialog-board{
  height : 20%;
  max-height: 300px;
  overflow: auto;
  background-color: rgb(243, 243, 243);
}

#chat{
  height: 550px;
}

