.triedTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    height: 300px;
    margin-bottom: 60px;
    /* border: 1px solid rgb(141, 140, 140); */
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px rgb(228, 228, 228);
    overflow: hidden;
}

.triedTitle:hover{
    /* border: 1px solid rgb(59, 59, 59); */
    background-color: rgb(240, 240, 240);
    transition: 0.3s ease-out;
    opacity : 0.8;
}

.triedTitle:not(:hover){
    transition: 0.3s ease-out;
}

.triedTitle > a > .img{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 220px;
    margin-bottom: 10px;
}

.trieditem-title {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.triedTitle > a > .img > img{
    width: 350px;
    object-fit: cover;
    transition: all 0.2s linear;
}

.triedTitle > a > .img > img:hover{
    transform: scale(1.05);
}

.trieditem-writer{
    margin-bottom: 10px;
}

.trieditem-cnt-rcmd{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: gray;
}

.trieditem-cnt-rcmd > div{
    width:50%;
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 10px;
}