.koreaprice-item-wrap {
  
}

.koreaprice-item-pic {
  width : 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 5px;
}

.koreaprice-item-pic > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.koreaprice-item-info {
  
}